:staging:
  :node_num: 4
:production:
  :setup_user: 'pi'
  :nfs:
    :ip: '192.168.100.191'
    :host: 'nfs'
  :mpi:
    -
      :ip: '192.168.100.192'
      :host: 'mpi0'
    -
      :ip: '192.168.100.193'
      :host: 'mpi1'
    -
      :ip: '192.168.100.194'
      :host: 'mpi2'
    -
      :ip: '192.168.100.195'
      :host: 'mpi3'
:deploy:
  :protcol: 'git'
  :repository: 'https://bitbucket.org/calorie/sample.git'
  :path: '/home/mpi/data/sample'
  :test_cmd: 'mpispec -np 4 --hostfile /home/mpi/data/hostfile'
